<!-- Main content section displaying a form to submit or edit a assignment with fields for assignment name, course, and due date; dynamically sets action based on whether assignment data is provided -->
<%- include Partials/header.ejs %> <%- include Partials/main_nav.ejs %>
<div class="container text-center">
  <h1 class="display-4 fw-bold mt-5 mb-4"><%= title %></h1>
  <p class="lead mt-4 mb-2">
    Add your Assignment to do here!.
  </p>
</div>

<section id="contact" class="py-5">
  <div class="container">
    <h2 class="text-center mb-4">Submit an Assignment</h2>
    <form
      <%= (typeof assignment !== 'undefined') ? 'action=/api/edit' : 'action=/api/create' %>
      method="post"
      enctype="application/x-www-form-urlencoded"
      class="row g-3"
    >
      <% if (typeof assignment !== 'undefined') { %>
        <input type="hidden" name="id" value="<%= assignment._id %>"/>
      <% } %>
      <div class="col-md-12">
        <label for="assignment" class="form-label">Assignment:</label>
        <input
          type="text"
          id="assignment"
          name="assignment"
          class="form-control"
          placeholder="Add assignment Here"
          value="<%= (typeof Assignment !== 'undefined') ? assignment.name : '' %>"
          required
        />
      </div>

      <div class="col-12">
        <label for="course" class="form-label">Course:</label>
        <textarea
          id="course"
          name="course"
          class="form-control"
          placeholder="Add Course Here"
          required
        ><%= (typeof assignment !== 'undefined') ? assignment.course : '' %></textarea>
      </div>

      <div class="col-12">
        <label for="duedate" class="form-label">Due Date:</label>
        <input
          type="date"
          id="duedate"
          name="duedate"
          class="form-control"
          placeholder="Add Due Date Here"
          value="<%= (typeof assignment !== 'undefined') ? assignment.duedate : '' %>"
          required
        />
      </div>

      <div class="text-center">
        <button type="submit" class="btn btn-primary me-2 mt-5 mb-5">
          <%= (typeof assignment !== 'undefined') ? 'Save' : 'Submit' %>
        </button>
        <% if (typeof assignment == 'undefined') { %>
          <button type="reset" class="btn btn-secondary me-2 mt-5 mb-5">Reset</button>
        <% } else { %>
          <a href="/manage" class="btn btn-secondary me-2 mt-5 mb-5">Back</a>
        <% } %>
      </div>
    </form>
  </div>
</section>
<%- include Partials/footer.ejs %>